
{% extends 'layout.twig'%}

{% block title %}Home{% endblock %}

{% block content %}
    <section>
        <div class="row">
            {{ include('partials/alerts.twig')}}
            <h2>Example form with Vuejs</h2>
            <div class="columns small-12">
                <app-form></app-form>
            </div>
        </div>
    </section>
{% endblock %}
